#main_about {

    h1 {
        @include PageTitle;
    }

    .about_intro {
        margin: 0 auto;
        margin-bottom: 3rem;
        max-width: 38rem;
        background-color: $yellow;
        border-radius: 0.5rem;
        padding: 1rem;
        p {
            font-size: 1.15rem;
            text-align: center;
            color: $dark;
        }
        em {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    section {
        margin: 2.45rem auto;
        padding: 0 5rem;
        max-width: 1100px;
    }

    h2 {
        font-size: 1.9rem;
        margin-bottom: 1rem;
        color: $red;
    }

    p, li {
        font-size: 1.08rem;
        text-align: justify;
        line-height: 1.7rem;
    }

    li {
        margin-left: 1rem;
    }

    .about_mision {
        .mision_content {
            display: flex;
            align-items: center;
            margin-top: -1rem;

            .mision_image {
                width: 45rem;
                height: 15rem;
                margin-left: 2rem;
                outline: 0.2rem solid $light;
                border-radius: 0.5rem;
                img {
                    width: 100%;    height: 100%;
                    object-fit: cover;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    .about_comision {
        margin-top: 4rem;
        
        h2 {
            color: $red;
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }

        i {
            font-size: 1.4rem;
            color: white;
            background-color: $red;
            padding: 0.7rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        .comision_content {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            .comision_persona {
                margin-bottom: 1.1rem;
                margin-left: 4rem;
                .persona_nombre {
                    text-transform: uppercase;
                    font-size: 1.12rem;
                    color: rgb(50, 50, 50);
                    font-weight: 700;
                }
                .persona_cargo {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 0.92rem;
                    color: rgb(103, 103, 103);
                }
            }

            .comision_image {
                width: 25rem;
                margin-top: -1rem;
                outline: 0.2rem solid $light;
                border-radius: 0.5rem;

                img {
                    width: 100%;    height: 100%;
                    object-fit: cover;
                    object-position: right;
                    border-radius: 0.5rem;
                }
            }
        }
    } 


}