#main_actividades {
    h1 {
        @include PageTitle
    }

    #actividades_page_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin: 3rem auto -2rem auto;
        padding: 2.3rem 0;

        #cargarMas{
            @include CustomButton($red, $yellow);
        }

        h2 {
            @include HomeTitle;
            margin-bottom: 1.5rem;
            text-align: center;
            color: white;
        }
    
        .carga { 
            justify-items: center;
            text-align: start;
            width: 20rem;
            margin-top: 3rem;
        }
    
        .actividades_content-page {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            padding: 0 3rem;
        }
    
        .actividades_link-page {
            margin: 1.5rem auto;
            @include CustomButton($red, $yellow);
    
            a {
                color: white;
                font-weight: 500;
    
                &:hover {
                    color: black;
                }
            }
        }
    
        .actividades_card-page {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin: 1rem auto;
    
            width: 35rem; height: 23rem;
    
            background-color: whitesmoke;
            padding: 1rem 1.8rem;
    
            border-radius: 1.5rem;
    
            .card_image-page {
                min-width: 11rem; height: 100%;
                margin-right: 1.5rem;
                
                img {
                    width: 100%;    height: 100%;
                    object-fit: contain;
                }
            }
    
            .card_text-page {
                display: flex;
                flex-direction: column;
                
    
                .card_heading-page {
                    height: 3rem;
                    font-size: 1.3rem;
                    font-weight: 600;
                }

                .card_date-page {
                    margin: 0.8rem 0;
                    font-family: $text-font;
                    font-size: 0.88rem;
                    color: rgb(99, 99, 99);
                    
                    font-weight: 600;
    
                    i{
                        margin-right: 0.2rem;
                    }
                }

                .card_main-text-page {
                    font-family: $text-font;
                    font-size: 0.88rem;
                    font-weight: 500;
                    line-height: 1.4rem;
                    text-align: justify;
    
                    .verMas {
                        text-decoration: underline;
                        color: $blue;
                    }
                }
                .card_link-page {
                    display: flex;
                    justify-content: end;
                    font-size: 1.1rem;
                    margin-top: 0.5rem;
                    
                    i {
                        background-color: $blue;
                        color: white;
                        padding: 0.4rem;
                        border-radius: 1rem;
                        transition: 0.2s all;
    
                        &:hover {
                            background-color: $red;
                        }
                    }
                }
    
                .del {
                    display: none;
                }
            }
        }
    }
    
    
    @media all and (max-width: 700px) {
        #actividades_page_section  {
            .actividades_content-page {
                padding: 0 1rem;
            }
            
            .actividades_card-page {
                display: flex;
                flex-direction: column;
                max-width: 35rem; height: auto;
                width: 98%;;
    
                .card_image-page {
                    width: 10rem;
                    margin: 0 auto;
                }
        
                .card_text-page {
                    .card_heading-page {
                        margin: 1.5rem auto 1rem auto;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    @media all and (max-width: 520px) {
        #actividades_page_section  {
    
            .actividades_content-page {
                padding: 0 1rem;
            }
    
            .actividades_card-page {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%; height: auto;
                padding: 1.2rem 1.4rem;
    
                .card_image-page {
                    width: 10rem;
                    margin: 0 auto;
                }
        
                .card_text-page {
                    .card_heading-page {
                        margin: 1.5rem auto 1rem auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}