// Color Palette
$dark: #141720;
$blue: #0a5aa2;
$red: #f14143;
$yellow: #feee4e;
$light: #e7d7d3;

//borders
$b: 1px solid black; // borde de pruebas

// Fonts
$accent-font: 'Merienda One', cursive;
$main-font: 'Signika Negative', sans-serif;
$text-font: 'Roboto', sans-serif;

// Mixins

@mixin HomeTitle {
    font-family: $main-font;
    color: $dark;
    font-size: 3.3rem;
    letter-spacing: -0.1rem;
}

@mixin PageTitle {
    text-transform: uppercase;
    color: $dark;
    font-size: 3rem;
    text-align: center;
    margin: 3rem auto 2rem auto;
}

@mixin Opacity( $opacityNumber:80% ) {
    opacity: $opacityNumber;
    -moz-opacity: $opacityNumber;
    -webkit-opacity: $opacityNumber;
}

@mixin CustomButton($bgColor:$red, $hoverColor:$blue) {
    width: 7rem;
    background-color: $bgColor;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        color: $light;
        background-color: $hoverColor;
    }
}